@using Dvik.Core
@model Trainer

    <div class="card">
        <div class="card-header">
            <h3>@this.Model.Name</h3>
        </div>
        <div class="card-body">
            <p class="card-text text-truncate" style="white-space:pre-line; max-height: 150px">@this.Model.Bio</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-lg" asp-page="./Details" asp-route-trainerId="@this.Model.Id">
                <i class="fas fa-search-plus"></i>
            </a>
            <a class="btn btn-lg" asp-page="./Edit" asp-route-trainerId="@this.Model.Id">
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-lg" asp-page="./Delete" asp-route-trainerId="@this.Model.Id">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>